/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Nunito", "Avenir", "Segoe UI", sans-serif;
  background: #f4f7ff;
}

button {
  font-family: inherit;
}
@import "@angular/material/prebuilt-themes/indigo-pink.css";
